extends ../layouts/layout

block head
  title #{application} &middot; Teams

block content
  .container
    .row
      .col-md-8.col-md
        .page-header
          h2
            i.fa.fa-teams
            | &nbsp;#{application} Teams
        //- Wrapper
        #wrapper

          //- TEAM LIST
          #teamList
            table.table.table-striped
              thead
                th Name
              tbody
          //- /TEAM LIST

        //- /WRAPPER


block scripts
  script.
  
    // DOM Ready =============================================================
    $(document).ready(function() {

      //- Async Load moment.js
      $.ajax({
        type: 'GET',
        url: 'lib/moment/min/moment.min.js',
        dataType: 'script',
        cache: true
      }).done(function(script, textStatus) {
        // Now populate the user table
        populateTable();
      });

    });

    // Functions =============================================================

    // Fill table with data
    function populateTable() {

      // Empty content string
      var tableContent = '';

      // jQuery AJAX call for JSON
      $.getJSON( '/teamlist', function( data ) {

        // For each item in our JSON, add a table row and cells to the content string
        $.each(data, function(){
          tableContent += '<tr>';
          tableContent += '<td>' + this._id + '</td>';
          tableContent += '<td>' + this.name + '</td>';
        });

        // Inject the whole content string into our existing HTML table
        $('#teamList table tbody').html(tableContent);
      });

    };
  
