extends ../layouts/layout

block head
  title #{application} &middot; Home

block styles
  link(rel='stylesheet', href='/lib/devicons/css/devicons.min.css')
  //- link(rel='stylesheet', href='//cdn.jsdelivr.net/devicons/1.5.0/css/devicons.min.css')
  link(rel='stylesheet', href='/css/page-api.min.css')

block content
  br
  br
  .container
    .row
      //- .col-sm-10.col-sm-offset-1
      .col-sm-12
            h2 Main Dashboard 
            hr  
  .container
    .row
      //- .col-sm-10.col-sm-offset-1
      .col-sm-12

        h3 Why did I have to login to see this page?
        p
          | Because authentication is a primary aspect of this boilerplate application. And without authenticating you wouldn't 
          | get to experience all these amazing features to help jumpstart your next project: 
      
          ul
            li Email traffic on (signup, account change, password reset, etc.)
            li Administrative features
            li User account management
            li Ability to connect/disconnect your favorite social accounts (Facebook, Twitter, Google and Github)
            li Enhanced security with two-factor authentication that you can turn on/off in your profile!
            li A whole slew of API's that will be helpful in building your next application
            li Real-time user tracking using socket.io
        br
      
        p
          | NOTE: You can delete your account at anytime on your profile page.
        h3 So what cool technology is used with NodeNinja?
        p
          | Just as NodeNinja is Open Source, so are the components that weave together the boilerplate application. Here are just a few technologies you should familiarize yourself with:
          ul
            li Core Technology Stack (Node.js, MongoDB, Jade, Express)
            li Other Server Technology (Passport, Async, Socket.io, NodeMailer, Helmet, Winston, express-validator, express-flash). 
            li Client Technology (Bootstrap, Font-Awesome, jQuery, Moment.js)
            li Development (Bower, Gulp, JSHint, JSCS, Nodemon)
            li We have also included Node.js cluster support
        
        p
          | NOTE: If you want to run NodeNinja in the cloud, we recommend using 
          a(href='https://www.digitalocean.com/?refcode=a71767ef6913') Digital Ocean 
          | as your Cloud Platform. A $10 a month Nodejs Droplet is all you will need to get up and running.  
        br
        p The application design is modeled using a MVC project structure. 
          ul
            li Models are the Mongo/Mongoose models
            li Views are the Jade Templates
            li Controllers are used for routing, page logic and data access via the models     
        
        br
        br
        p If you have additonal questions, drop us an email at asknodeninja(at)gmail.com.  Otherwise, save yourself hundreds of hours coding and fork us on github!
        br
        p (<strong>NOTE:</strong> In this demo all users are setup as administrators. Normally they would just be a "user" and the Admin menu would not be accessible or visible.)
        br
        h3
          | Don't forget to give us a star on&nbsp;
          a(href='https://github.com/nodeninja-io/boilerplate-app')
            i.fa.fa-fw.fa-github
            | GitHub
        
