extends ../layouts/layout

block head
  title #{application} &middot; FAQs

block content

  .mini-tron
    .container
      h1 Frequently Asked Questions
      p
        | Placeholder for FAQs title.

  .container
    .row
      .col-sm-12
        ul
          li Question #1
          li Question #2
          li Question #3
      
    
    
